:root{
    --magnolia:#fcf2ff;
    --amethyst: #A06CD5;
    --royalPurple: #a06cd5;
    --prusianBlue: #102B3F;
    --gunmetal: #082730;
}

html,
body {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--magnolia);
} 

/* Navigation */
.navbar{
    background-color: var(--gunmetal) !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}
.nav-item{
    margin-left: 1rem;
}
.nav-item a{
    color: var(--magnolia) !important;
}

.nav-link:hover{
    color: var(--amethyst) !important;
}

.btn, .CTA{
    background-color: var(--amethyst) !important;
    border: var(--royalPurple) 1 solid !important;
    color: var(--magnolia) !important;
    border-radius: 8px;
}

.CTA:is(:hover, :focus, :focus-visible){
    border: var(--royalPurple) 1 solid !important;
    box-shadow: 0 0 0 0.2rem rgba(225, 0, 255, 0.25); 
}

.navbar-brand{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--magnolia) !important;
}

.navbar-brand i{
    color: var(--amethyst);
}


/*Hero section*/

#hero{
    background-image: url(../images/gradient.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max(40vw, 400px);
    padding: 2rem 0rem;
    margin-bottom: 3rem;
}

.jumbotron{
    height: 100% !important;
    background-color: transparent;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jumbotron h1, .jumbotron p{
    color: var(--magnolia);
    text-align: center;
    line-height: 180% !important;
}

/* Work */
#work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    background: radial-gradient(circle, rgba(160,108,213,1) 0%, rgba(251,243,254,1) 70%);
}

h2{
    padding: 1rem 0rem;
    color: var(--prusianBlue);
    margin-bottom: 2rem;
}

#work h2{
    margin-bottom: 0;
}
#work h4{
    font-weight: 400;
    padding-bottom: 1rem;
}

#work .row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

#featuredImage{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.5s ease-in-out;
    border-radius: 1rem;
    height: max(100%, 400px);
}
/*Add space between image and description when displayed vertically*/
@media only screen and (max-width:991px){
    #featuredImage{
        margin-bottom: 2rem;
    }
    
}

#work .card{
    border: none;
    border-radius: 1rem;
    margin-bottom: 3rem;
    height: 100%;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.5s ease-in-out;
}

#work .card img{
    object-fit: cover;
    height: 250px;
    width:100%;
    border-radius: 1rem 1rem 0 0;
}
.tags{
    padding-bottom: 0.5rem;
}

.badge{
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 8px;
}

.badge-primary{
    background-color: var(--royalPurple);
}

.badge-secondary{
    background-color: white;
    color: var(--royalPurple);
    border: var(--royalPurple) solid 1px;
}

#work .card:hover,#work #featuredImage:hover{
box-shadow: 0px 4px 10px 1px var(--amethyst);
transform: translateY(-10px);  
cursor: pointer;
}


/* Skill */

#skills{
    display: flex;
    flex-direction: column;
    background:linear-gradient(0deg, rgba(160,108,213,1) 0%, rgba(251,243,254,1) 100%);
    justify-content: center;
    align-items: center;
}

#skills .row{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

/*Smaller container area on large screens*/ 
@media only screen and (min-width:1024px) {
    #skills .row{
        width:1000px;
    }
    
}
#skills .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    box-shadow: none;
    position: relative;
    border: none;
    padding-top: 60px;
    margin: 1rem 0.5rem;
}

#skills .card-body{
    background-color: white;
    border-radius: 1rem;
    padding-top: 50px;
    width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#skills img{
    position: absolute;
    top: -1px;
    height: 100px !important;
    width: 100px !important;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* About Me*/

#aboutMe{
    text-align: center;
    background: linear-gradient(0deg, rgba(251,243,254,1) 0%, rgba(160,108,213,1) 100%);
    margin-bottom: 3rem;
}


#aboutMe .row{
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

#aboutMe p{
    text-align: left;
}
.sectionRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
}
#aboutMe img{
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/*Stop image and socials container from going full-width on small devices*/
@media only screen and (max-width: 575px){
    #aboutMe img{
        max-width: 300px;
    }
    .socials{
        max-width: 350px;
    }
}
.socials{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    background-color: var(--magnolia);
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.socials a{
    color: var(--amethyst);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-size: 2rem;
}
/*Footer*/
footer{
    margin-top: 5rem;
    padding: 1rem 0;
    background-color: var(--gunmetal);
    display: flex;
    justify-content: center;
}

footer p{
    margin: 0;
    color: var(--magnolia);
    text-align: center;
}
.row{
    margin: 0;
}
img{
    width: 100% !important;
}


